<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="index.css" />
<link rel="stylesheet" type="text/css" href="reset.css" />
<!--
<script type="text/javascript" src="外部Javascriptファイルへのパス"></script>
-->
<title>Remote English</title>
</head>
<body>
  <div class = "header">
    <div class = "header-left">
    <h1>Remote English</h1>
    </div>
    <div class = "header-center">
     <input type="search" name="search" placeholder="カリキュラム検索" class = "search-box">
     <input type="submit" name="submit" value="検索" class = "btn-s">
    </div>
  </div>
  <div class = "main">
    <div class = "main-img">
    </div>
    <div class = "main-text">
      塾に通わなくても大丈夫
    </div>
  </div>
  <div class = "culiculum">
    <a href = "/views/make"><%= @view.content %></a>
  </div>

</body>



