<!DOCTYPE html>
<head>
<meta charset="utf-8" />

<link rel="stylesheet" type="text/css" href="reset.css" />
<link rel="stylesheet" type="text/css" href="make.css" />

<title>英語に対しての誤解</title>
</head>
<body>
  <div class = "header">
    <div class = "header-left">
    <h1><a href = "/">Remote English</a></h1>
    </div>
    <div class = "header-center">
     <input type="search" name="search" placeholder="カリキュラム検索" class = "search-box">
     <input type="submit" name="submit" value="検索" class = "btn-s">
    </div>
  </div>

  <div class = "make-img">
    <div class = "make-img_text">
      英語に対しての理解
    </div>
    <div class = "make-img_sub">
      〜成績が上がるための仕組み〜
    </div>
  </div>
 <div class = "total"> 
  <div class = "left"></div>
  <div class = "make">
    <div class = "make-curriculum">
      英語の成績が伸びない理由  
    </div>
    <div class = "make-curriculum_text">
      結論から言います。インプット重視の授業カリキュラムのせいです。<br>
      皆さんはどれだけ知識として学んだ内容をアウトプットしているでしょうか。<br>
      インプットの段階で疲れてしまい、アウトプットを疎かにしている人は<br>
      英語の成績は伸びません。これは断言します。<br>
      このRemote Englishではインプットは最小限にし、自分自身でどこでもアウトプットできる環境にしています。<br>
      アウトプットを最大限にすることによって、皆さまの英語の成績が伸びることは約束します。<br>
      なので最後までしっかりこのカリキュラムについてきてください！<br>
    </div>
    <div class = "make-curriculum">
      Remote Englishの学習ルーティング
    </div>
    <div class = "make-curriculum_text">
      以下の図をみてください。
      <div class = "make-curriculum_text-img">
      </div>
    </div>
    <div class = "make2">
      このようにルーティングが組まれています。<br>
      これから見てもアウトプット重視なのはわかるとは思いますが<br>
      毎回８０点以上を目安に頑張りましょう！<br>
      では試しに確認テストを行ってください。
    </div>
    <div class = "make3">
      <a href = "#">確認テスト</a>
    </div>
    <div class = "make4">
      <div class = "make4-pre">
        <a href = "#">＜前のカリキュラムへ</a>
      </div>
      <div class = "make4-next">
        <a href = "#">次のカリキュラムへ＞</a>
      </div>
    </div>


  </div>
  <div class = "right"></div>
</div>
</body>


